---
import "../styles/index.css"
import LumioNav from "../components/LumioNav.astro"

const { uid, template } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="preload"
      href="/fonts/satoshi/Satoshi-Variable.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/gwa0xin.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat+Alternates:wght@500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/logo.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/page-transition.css" />
    <title>WebGL Pixel Effect on Scroll with GSAP, Three.js and Astro</title>
  </head>
  <body data-barba="wrapper">
    <LumioNav />
    <div id="app" data-barba="container" data-barba-namespace={uid}>
      <div id="smooth-content" data-page-template={template}>
        <slot />
      </div>
    </div>
    <canvas id="webgl"></canvas>
    <div class="transition__overlay team__transition" aria-hidden="true">
      <h1 class="title__destination">Architecture is not seen, it is felt as atmosphere.</h1>
    </div>
    <script type="module" src="/js/subpage-hero.js"></script>
    <script src="../app/main.ts"></script>
  </body>
</html>
